<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
 <style>
   .container {
     padding: 16px;
     background-color: antiquewhite;
   }
   .submitbtn {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 10%;
     opacity: 0.9;
   }
 </style>

</head>
<body>
<div class="container">
  <label for="email"><b>Email :</b></label>
  <input type="email" placeholder="Enter valid Email-Id" name="email" required>
  </br>
</div>
<input type="submit"class="submitbtn"value="submit"></br>
</body>
</html>
