<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script>
    var check = function() {
    if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
      document.getElementById('message').style.color = 'green';
      document.getElementById('message').innerHTML = 'matching';
    }
    else{
      document.getElementById('message').style.color = 'red';
      document.getElementById('message').innerHTML = 'not matching';
    }
    }
  </script>
</head>
<body>
<form method="POST"action="/setPassword">
  <input type="hidden"name="id"value="<%=id%>">
New_password:
<input type="password"name="password" placeholder="enter new password"onkeyup='check();'></br>
Confirm_Password:
<input type="password"name="confirm_password"placeholder="Re-enter password" onkeyup='check();'></br>
<button type="submit"value="submit">submit</button>
</form>
</body>
</html>
